.titre {display: flex;
    flex-direction: column;
align-items: center;
font-family: jockey one;}

.seniorG{
    background-color: rgb(21, 40, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: jockey one;
margin: 20px;
border-radius: 20px;}

.card{
    width: 50%;
    background-color: rgb(21, 40, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: jockey one;
margin: 20px;
border-radius: 20px;}


.photosgarcons {width: 100%; height: auto;
    border-radius: 20px;
object-fit: cover;
aspect-ratio: 16/9;}   

.photosfilles {width: 100%; height: auto;
    border-radius: 20px;
object-fit: cover;
aspect-ratio: 16/9;}

        

.categorie {font-size: 40px;}
.cardsize {font-size: 20px}
.titre {font-size: 40px}