body {margin: 0;}
.container {width: 1180px; margin: auto; display: flex;} 

@media  (min-width:992px) and (max-width:1200px) {
    .container {width: 960px;}
}

@media  (min-width:768px) and (max-width:992px) {
    .container {width: 720px;}
}

@media  (min-width:576px) and (max-width:768px) {
    .container {width: 540px;}
}

@media  (max-width:576px) {
    .container {width: 100%;}
}


@media (max-width:992px) {
    .futurimg, .pastimg,.topvideo {
        flex-wrap: wrap;
    }
}