.tomphoto{
    width: 100%;
  height: 200px;
  background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(21, 40, 145, 0.17) 12%, rgba(21, 40, 145, 0.84) 100%), url('../images/tom_shoot.jpg');
  background-size: cover;        /* couvre la zone */
  background-position: 10% 30%;  /* déplace le point focal */
  background-repeat: no-repeat;
    }


.hero {background-color: var(--main-color);}
.topvideo {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 40px;
    width: 100%;

}

.devise {
    font-size: 30px;
    color: white;
    font-family: jockey one;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 500px;
    height: auto;
    display: flex;
}

.lastresults p { color: var(--main-color);
font-family: jockey one;}

.past {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;

}

.past p {
    display: flex;
    justify-content: center;
    font-family: jockey one;
    font-size: 40px;
    width: 100%;
}
.pastcards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.pastcard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--main-color);
border-radius: 30px;
width: 30%;
padding: 10px;
}

.pastcard p {
    color: white;
    font-family: jockey one;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.scores {
    font-family: jockey one;
    font-size: 20px;
    color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.scorematch {display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;}
.logo-match {
    width: 100px;
    height: auto;

}

.futur p {
    display: flex;
    justify-content: center;
    font-family: jockey one;
    font-size: 40px;
    width: 100%;
}
.futur {background-color: var(--main-color);
display: flex;
flex-direction: column;
    width: 100%;
    padding: 50px;}

    .futurresults {
        font-size: 40px;
        color: white;
        font-family: jockey one;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

.futurcard {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white
;
border-radius: 30px;
width: 100%;
}





.affiche {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.sponsors {
    width: 200px;
    height: auto;
    margin: 10px;
}

.sponsortop {
    display: flex;
    justify-content: center;

}

.sponsorbot {
    display: flex;
    justify-content: center;
}

.partenariat {
    width: 100%;
}

.partenariat p {
    color: var(--main-color);
    font-size: 40px; font-family: jockey one;
    display: flex;
    justify-content: center;

}
.linkteams {
    width: 100%;
    background-color: #152891;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 50px;
border-radius: 50px;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: jockey one;
    font-size: 20px;
}

.linkresultats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
border-radius: 50px;
}

.resultats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: jockey one;
    font-size: 20px;
}

.linkpics {
    width: 100%;
    background-color: #152891;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 50px;
border-radius: 50px;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: jockey one;
    font-size: 20px;
}

.linkjoin {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
border-radius: 50px;

}

.rejoindre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: jockey one;
    font-size: 20px;
    
}

.picmenu {
    width: 500px;
    height: auto;
    margin: 20px;
    border-radius: 50px;
}
.mask-rectangle {
        -webkit-mask-image: url('../img-mask/Rectangle.svg');
        -webkit-mask-size: cover;

         mask-image: url('../img-mask/Rectangle.svg');
        mask-size: cover;
        
        width: 500px;
        height: auto;
    
    }

