.titre {display: flex;
    flex-direction: column;
align-items: center;
font-family: jockey one;}

.seniorG{
    background-color: rgb(21, 40, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: jockey one;}

.U18{
    background-color:  rgb(21, 40, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;font-family: jockey one;}
