@import url(variables.css);
@import url(header.css);
@import url(main.css);
@import url(layout.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap')